{% extends 'base.html' %}

{% block content %}


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OD2RDF</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="{% url 'simple_upload' %}">Home</a></li>
        <li class="active"><a href="{% url 'crawl' %}">Crawl<span class="sr-only">(current)</span></a></li>
        
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="container">
  <div class="panel panel-primary">
     <div class="panel-heading">Crawl from Open Data Portal</div>
    <div class="panel-body">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
      <label for="usr">Website:</label>
      <input type="text" class="form-control" name= 'web' id="web">
    </div>
    <div class="form-group">
      <label for="pwd">Limit:</label>
      <input type="int" class="form-control"  name= 'limit' id="limit">
    </div>
    <div class="form-group">
      <label for="pwd">Group (tags: , groups:, or leave it blank)</label>
      <input type="int" class="form-control"  name= 'group' id="limit">
    </div>
    <div class="form-group">
      <label for="pwd">Keyword</label>
      <input type="int" class="form-control"  name= 'keyword' id="limit">
    </div>
    
    <button  type="submit" class="btn btn-default" id="crawl_csv_rdf">Start</button>

  </form>
</div>
</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Result</div>
    <div class="panel-body">
    <p>URL produced :  <a href="{{ url }}">{{ url}}</a></p>  
    <p>File Succesfully processed : {{ counter }}</p>
    <p>File failed : {{ fail }}</p>
  </div>
</div>

{% if files_processed %}
<div class="container">
   <div class="panel panel-primary">
<div class="panel-heading">Files Processed</div>
    <div class="panel-body">
<ul>
    {% for obj in files_processed %}
      <li>
       <p> {{ obj }}</p>
      </li>
    {% endfor %}
</ul>
</div>
</div>
</div>
{% endif %}

{% if mapping_produced %}
<div class="container">
   <div class="panel panel-primary">
    <div class="panel-heading">Mapping Produced</div>
    <div class="panel-body">

<ul>
    {% for obj in mapping_produced %}
      <li>
        <a href="{{ obj }}">{{ obj }}</a>
      </li>
    {% endfor %}
</ul>
</div>
</div>
</div>
{% endif %}

{% if rdf_produced %}
<div class="container">

   <div class="panel panel-primary">
    <div class="panel-heading">RDF Produced</div>
    <div class="panel-body">

<ul>
    {% for obj in rdf_produced %}
      <li>
        <a href="{{ obj }}">{{ obj }}</a>
      </li>
    {% endfor %}
</ul>
</div>
</div>
</div>
{% endif %}


{% if files_failed %}
<div class="container">

   <div class="panel panel-primary">
<div class="panel-heading">Files Failed</div>
    <div class="panel-body">

      {% for obj in files_failed %}
      <li>
        <a href="{{ obj }}">{{ obj }}</a>
      </li>
    {% endfor %}

<ul>
</ul>
</div>
</div>
</div>
{% endif %}


{% endblock %}