{% extends 'base.html' %}

{% load static %}

{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OD2RDF</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'crawl' %}">Crawl</a></li>
        
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="container">
  <div class="panel panel-primary">
     <div class="panel-heading">CSV to RDF</div>
    <div class="panel-body">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="csv_to_rdf">
     <label for="fileupload_csv_rdf"> Select a CSV file</label>
    <button  type="submit" class="btn btn-default" id="fileupload_csv_rdf">Upload</button>
    <label for="l_box1"><input type="radio" name="checks" value="only_produce_metadata" id="l_box1">Produce Only Metadata</label>

  </form>
</div>
</div>
</div>

<div class="container">
<div class="panel panel-primary">
     <div class="panel-heading">CSV to RDF with Custom Mappings</div>
    <div class="panel-body">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="csv_to_json_meta_csv" id="csv_to_json_meta_csv">
    <label for="csv_to_json_meta_csv"> Select a CSV file</label>
    <input type="file" name="csv_to_json_meta_json" id="csv_to_json_meta_json">
    <label for="csv_to_json_meta_json"> Select a Json Mapping file</label>
    <button  type="submit" class="btn btn-default">Upload</button>

  </form>
</div>
</div>
</div>

<div class="container">
<h2>{{message}} </h2>
{% if uploaded_file_url %}
 <div class="panel panel-primary">
    <div class="panel-body">
    <p>File uploaded : {{ uploaded_file_url }}</p>
    <p>Metadata produced: <a href="{{ json_url }}">{{ json_url }}</a></p>
    <p>RDF produced: <a href="{{ rdf_url }}">{{ rdf_url }}</a></p>
    <p>Triples Produced from file: <a href="{{ total_triples }}">{{ total_triples}}</a></p>
    <p>Triples count in graph: <a href="{{ triples_in_graph }}">{{ triples_in_graph}}</a></p>
  </div>
</div>

{% endif %}
</div>

  
{% if documents2 %}
<div class="container">

   <div class="panel panel-primary">
    <div class="panel-body">

<ul>
    {% for obj in documents %}
      <li>
        <a href="{{ obj }}">{{ obj }}</a>
      </li>
    {% endfor %}
</ul>
</div>
</div>
</div>
{% endif %}

{% if documents2 %}
<div class="container">

   <div class="panel panel-primary">
    <div class="panel-body">

<ul>
    {% for obj in documents2 %}
      <li>
        <a href="{{ obj }}">{{ obj }}</a>
      </li>
    {% endfor %}
</ul>
</div>
</div>
</div>
{% endif %}
{% endblock %}